figure {
    display: block;
}

body {
    font-size: 0.825em;
    color: #fcfcfc;
    background-color: #97ccd3;
    font-family: Arial, Helvetica, sans-serif;
    background-image: url('back.svg');
    background-size: cover;
    background-attachment: fixed;
    height: 100vh;
    padding: 0;
    margin: 0;
}

a,
a:visited {
    color: #0196e3;
    text-decoration: none;
    outline: none;
}

a:hover {
    text-decoration: underline;
}


h1,
h2,
h3 {
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    text-shadow: 0 1px 1px black;
}

h1 {
    /* текст логотипа */
    font-size: 3.5em;
    padding: 0.5em 0 0;
    text-transform: uppercase;
}

h3 {
    /* текст слогона */
    font-family: "Myriad Pro", "Helvetica Neue", Helvetica, Arial, Sans-Serif;
    font-size: 2em;
    font-weight: normal;
    margin: 0 0 1em;
}

h2 {
    font-size: 2.2em;
    font-weight: normal;
    letter-spacing: 0.1em;
    text-transform: uppercase;
}

p {
    padding-bottom: 1em;

}

.line {
    height: 1px;
    background-color: #24404c;
    border-bottom: 1px solid #415371;
    margin: 0em 0;
    overflow: hidden;
}

article .line {
    background-color: #15242a;
    border-bottom-color: #204656;
    margin: 1.3em 0;
}

footer .line {
    margin: 2em 0;
}

nav {
    background: #f8f8f8;
    padding: 0 5px;
    position: absolute;
    right: 0;
    top: 4em;
    border: 1px solid #FCFCFC;
    -moz-box-shadow: 0 1px 1px #333333;
    -webkit-box-shadow: 0 1px 1px #333333;
    box-shadow: 0 1px 1px #333333;
}

nav ul li {
    display: inline;
}

nav ul li a,
nav ul li a:visited {
    color: #565656;
    display: block;
    float: left;
    font-size: 1.25em;
    font-weight: bold;
    margin: 5px 2px;
    padding: 7px 10px 4px;
    text-shadow: 0 1px 1px white;
    text-transform: uppercase;
}

nav ul li a:hover {
    text-decoration: none;
    background-color: #f0f0f0;
}

nav,
article,
nav ul li a,
figure {
    /* Применение закругленных углов у элементов */
    -moz-border-radius: 10px;
    border-radius: 10px;
}

#page {
    width: 1600px;
    margin: 0 auto;
    position: relative;
}

article {
    padding: 40px;
    text-shadow: 0 2px 0 black;
    overflow: hidden;
}

figure {
    border: 3px solid #142830;
    float: right;
    height: 300px;
    margin-left: 15px;
    overflow: hidden;
    width: 500px;
}

figure:hover {
    -moz-box-shadow: 0 0 2px #4D7788;
    -webkit-box-shadow: 0 0 2px #4D7788;
    box-shadow: 0 0 2px #4D7788;
}


footer {
    margin-bottom: 30px;
    text-align: center;
    font-size: 0.825em;
}

footer p {
    margin-bottom: -2.5em;
    position: relative;
}

footer a,
footer a:visited {
    color: #cccccc;
    background-color: #213e4a;
    display: block;
    padding: 2px 4px;
    z-index: 100;
    position: relative;
}

footer a:hover {
    text-decoration: none;
    background-color: #142830;
}

footer a.by {
    float: left;
}

footer a.up {
    float: right;
}

nav ul li {
    display: block;
    float: left;
    position: relative;
}

nav ul ul {
    position: absolute;
    top: 40px;
}

nav li ul {
    display: none;
}

nav li:hover>ul {
    display: block;
}

nav ul ul li a,
nav ul ul li a:visited {
    font-size: 0.95em;
    padding: 1px 2px 2px;
    color: #ffffff;
}

nav ul ul li a:hover {
    background-color: #213E4A;
}
.tur {
    width: 30%;
    border: solid #000000 2px;
    text-align: center;
    padding: 5px;
    margin: 3px;
    float: left;
    
}
.tur img {
    width: max;
    height: 150px;
}

